// Footer
footer
  .container-fluid
    .row
      address
        a(href="https://twitter.com/townlim", target="_blank")
          i.fa.fa-twitter.fa-2x.fw
      small Copyright © 2015 Townlim. All Rights Reserved.
