doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- block
    block title

    link(rel="stylesheet", href="/lib/lib.css")
    // [if lt IE 9]
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    // [endif]
    link(rel='stylesheet', href='/css/style.css')
    link(rel="apple-touch-icon-precomposed", href="http://www.townlim.com/apple-touch-icon-precomposed.png")
  body

    include _header_navigation

    //- block
    block content

    include _footer
    script(src="/lib/lib.js")
    script(src="//maps.googleapis.com/maps/api/js?sensor=false")
    script(src="/js/bundle.js")
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-WL3ML8", height="0", width="0", style="display:none;visibility:hidden")
    script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WL3ML8');
