extends layout


//- block
block title

  title= title
    |  | Townlim


//- block
block content

  // Page header
  .container-fluid
    .row
      .page-header
        h1 Welcome to #{title}

  // Main
  main
    .container
      #townPhotos.row
      
      button#readmore.btn.btn-block(type="button") Read More
    
    
    include _model
